<?xml version="1.0" encoding="UTF-8"?>
<betaville>
  <server>
    <permissions>
      <base>
        <modify>BASE_COMMITTER</modify>
        <delete>BASE_COMMITTER</delete>
        <create>BASE_COMMITTER</create>
      </base>
      <wormhole>
        <delete>MODERATOR</delete>
        <create>MODERATOR</create>
        <modify>MODERATOR</modify>
      </wormhole>
      <elevate>
        <admin>ADMIN</admin>
        <moderator>ADMIN</moderator>
        <data_searcher>MODERATOR</data_searcher>
        <base_committer>MODERATOR</base_committer>
      </elevate>
      <proposal>
        <delete>MODERATOR</delete>
        <create>MEMBER</create>
        <modify>MODERATOR</modify>
      </proposal>
    </permissions>
    <storage>
      <sessions>sessions/</sessions>
      <media>storage/</media>
    </storage>
    <logging>
      <report>
        <interval>600000</interval>
      </report>
    </logging>
    <network>
      <default>
        <port>14500</port>
      </default>
      <ssl>
        <port>14501</port>
        <enabled>false</enabled>
      </ssl>
    </network>
    <mailer>
      <port>smtpport</port>
      <user>smtpuser</user>
      <enabled>false</enabled>
      <pass>smtppass</pass>
      <message>
        <commentnotification>MailAssets/comment_notification.html</commentnotification>
      </message>
      <host>smtpserver</host>
    </mailer>
    <mysql>
      <host>localhost</host>
      <database>betaville</database>
      <port>3306</port>
      <user>root</user>
      <pass>root</pass>
    </mysql>
  </server>
</betaville>

